{% extends 'base.html.twig' %}

{% block title %}Notes index{% endblock %}

{% block body %}
    <h1>Notes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                
               
                <th>Username</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for note in notes %}
            <tr>
                <td>{{ note.id }}</td>
                <td>{{ note.titre }}</td>
                
                
                <td>{{ note.username }}</td>
                <td >
                
                    <a href="{{ path('notes_show', {'id': note.id}) }}"><button type="button" class="btn btn-primary">show</button></a>
                    <a href="{{ path('notes_edit', {'id': note.id}) }}"><button type="button" class="btn btn-success">edit</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('notes_new') }}"><button type="button" class="btn btn-outline-primary">Create new</button>
</a>
{% endblock %}
